body{
	 background-color: #ECF0F1;
}

table, th, td  {
    border : 1px solid blue;
    padding: 3px;
    margin: auto;
    margin-bottom: 100px;
    font-size: 18px;
}



.Harga {
	color: red;
	font-weight: bold; 
}